.app{
    height: 100vh;
    .sections{
        width: 100%;
        height: 100%;
        background-color: lightsalmon;
        position: relative;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        scrollbar-width: none;
        &::-webkit-scrollbar{
            display: none;
        }

        > *{
            width: 100vw;
            height: 100%;
            scroll-snap-align: start;
        }
    }  
}