.activities{
    background-color: rgb(247, 250, 144);
    color:rgb(144, 120, 231);
    padding-left: 100px;
    padding-top: 100px;
    .head{
        font-weight: bold;
        font-size: large;
    }
    .firstcolonne{
        font-style: italic;
    }
    
}