@import '../../global.scss';
.topbar{
    width: 100px;
    height: 35%;
    position: fixed;
    overflow: hidden;
    top:0;
    transition: all 1s ease;
    z-index: 3;
    .wrapper{
        padding: 0;
        height: 100%;
        width: 100%;
        margin:0;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        .left{
            overflow: hidden;
            .hamburger{
                z-index: 3;
                padding-top: 30px;
                align-items: center;
                overflow: hidden;
                width: 32px;
                height: 25px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                z-index: 3;
                margin-bottom: 15px;
                cursor: pointer;
                span{
                    width: 100%;
                    height: 3px;
                    background-color: $mainColor;
                    transform-origin: left;
                    transition: all 2s ease;
                }
            }
    
            .social-links{
                z-index: 3;
                align-items: center;
                flex-direction: column;
                display: flex;
                
                .line2{
                    width: 3px;
                    height: 100px;
                    background-color: $mainColor;
                    transform-origin: left;
                    transition: all 2s ease;
                }
                .icon{
                    background-color: none;
                    color: $mainColor;
                    margin-bottom: 10px;
                    cursor: pointer;
                }
                    
            }
        }
    }

    &.active{
        background-color: $mainColor;
        color: white;
        .hamburger{
            overflow: hidden;
            span{
                &:first-child{
                    background-color: white;
                    transform: rotate(45deg);
                }
                &:nth-child(2){
                    opacity: 0;
                }
                &:last-child{
                    background-color: white;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}